@tailwind base;
@tailwind components;
@tailwind utilities;

 
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@300&display=swap');
body {
  margin: 0;
  font-family: "Poppins",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.font-patua{
  font-family: Patua;
}
.bg-semiblack{
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0.49763655462184875) 0%, rgba(11,31,36,0.6320903361344538) 100%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
